@model List<KL.Models.Job>


<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <div class="">
                <input type="radio" id="toggle-on" name="toggle" >
                <label for="toggle-on">Chủ trì</label>
                <input type="radio" id="toggle-off" name="toggle" checked>
                <label for="toggle-off">Tham Gia</label>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Moi
                </div>
                <div class="card-body "  id="toggle-offtable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Gian Can Hoan Thanh</th>
                                    <th>Cong Viec Phong</th>
                                </tr>
                            </thead>
                            <tbody id="cvcn">
                                @foreach (var cv in Model)
                                {
                                    
                                    <tr id="@cv.ID">
                                        <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                        <td>@cv.Ten</td>
                                        <td>@cv.NoiDungCongViec</td>
                                        <td>@cv.File</td>
                                        <td>@cv.ThoiGianHoanThanh</td>
                                        <td>@cv.IDkhac</td>
                                        <td><button class="view">view</button></td>
                                    </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                    <script>
                        $('button.view').click(function () {
                            var rowclick = '#' + $(this).closest('tr').attr('id');
                            $(rowclick).remove();
                            
                        });
                    </script>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="tt"></div>
</div>

<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />

<!-- Modal content -->
<script>

    $('input:radio').change(function () {

        var radioButtons = $("input:radio[name='toggle']");
        var selectedIndex = radioButtons.index(radioButtons.find(':checked'));
        var idRadio = $(this).attr('id');
        if (idRadio == 'toggle-on') {
            idTable2 = '#' + 'toggle-off' + 'table';
        }
        else {
            idTable2 = '#' + 'toggle-on' + 'table';
        }
        var idTable = '#' + $(this).attr('id') + 'table';
        if (this.checked) {
            
            $(idTable).show();
            $(idTable2).hide();
        }
        else {
            $(idTable2).show();
            $(idTable1).hide();
        }
    });
</script>




