@model List<KL.Models.Job>

<link href="~/Assets/dist/css/table.css" type="text/css" rel="stylesheet" />
<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Moi
                </div>

                <div class="card-body " id="toggle-ontable">
                    <div class="table-responsive">
                        <table class="table table-bordered"  id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Han Hoan Thanh</th>
                                    <th>Thuoc Cong Viec</th>
                                </tr>
                            </thead>
                            @using KL.Models.DatabaseModels;
                            @{
                                var db = new Smof();
                                foreach(var item in db.CongViecPhongs)
                                {
                                    item.TrangThai = 1;
                                }
                                db.SaveChanges();
                            }
                            <tbody>
                                @foreach (var cv in Model)
                                {
                                <tr class="@cv.ID">
                                    <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                    <td>@cv.Ten</td>
                                    <td>@cv.NoiDungCongViec</td>
                                    @if (cv.File != "")
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.File)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.File</p></a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@cv.ThoiHanHoanThanh</td>
                                    <td>@cv.IDkhac</td>

                                    <td><button id="add">add plan</button></td>
                                </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>
                
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        @db.SaveChanges();
    </div>
    <div id="tt"></div>
</div>

<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="chutri" class="close">&times;</span>

        </div>
        <div class="modal-body">
            <div class="card-body toggle-on" id="0">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Ten Cong Viec</th>
                                <th>Noi Dung Tom Tat</th>
                                <th>Nguoi tham gia</th>
                                <th>Thoi Gian Hoan Thanh</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td></td>
                                <td><input type="text" id="tenCv" class="ten" /></td>
                                <td><input type="text" id="noidung" class="nd" /></td>
                                <td id="dropdownlist"> @Html.DropDownList("employee", (IEnumerable<SelectListItem>)ViewBag.CategoryList, "select one")</td>
                                <td><input type="date" id="tgian" class="tgian" /></td>
                            </tr>
                        </tbody>

                    </table>
                    <button id="addTask">Add task</button>
                </div>
            </div>
        </div>

        <div>
            <button class="btn-success" id="savePlan" type="button">Save</button>
        </div>
    </div>
    <script>
        var myModal = $('#myModal').html();
        var planIndex;

        $('#addTask').click(function () {
            var data1 = "<td>" + $('#dropdownlist').clone().html() + "</td>";
            var data = "<tr><td></td><td><input type='text'class='ten'/></td><td><input type='text'  class='nd'/></td>" + data1 + "<td><input type='date' class='tgian' /></td>" + "/<tr>";
            $('#myModal tbody').append(data);


        });
        var t = myModal;
        var modal = document.getElementById('myModal');
        $('button#add').click(function () {
            planIndex = $(this).closest('tr').attr('class');

            $('#myModal').show();
            //alert($('.modal').attr('id'));
    });

        $(document).click(function (event) {
            if (event.target == $('#myModal')[0]) {
                var tt = '<div id="myModal" class="modal">' + myModal + '</div>';

                $('#myModal').hide();


            };

        });
        $('span#chutri').click(function () {
            $('#myModal').hide();
        })
    $('button#savePlan').click(function () {
        var data = []; var i = 0;
        $('#myModal').hide();
        $('#myModal tbody tr').each(function () {
            var dropList = $(this).find('option:selected').val();
            var deadline = $(this).find('.tgian').val();
            data[i] = {
                Ten: $(this).find('.ten').val(),
                Noidung: $(this).find('.nd').val(),
                IDHs: dropList,
                DeadLine:deadline
            };
            i++;
        });
        var kh = new Object();
        kh.ID = planIndex;
        kh.newPlans = data;
        $.ajax({
            url: '/Job/SaveNew',
            type: 'POST',
            data: { kh: kh,IdNhanSu:@ViewBag.hsId },

            success: function (response) {

                $('tr.' + planIndex).remove();

                //$('#page-wrapper').replaceWith($(response));

                //$("html").html($("html", response).html());
            }
        });
        /*$.ajax({
            url: '/Left/Left?hsId',
            type: "POST",
            success: function (data) {
                $('#left').replaceWith(data);
            }
        });*/

    });

    </script>
</div>
<!-- Modal content -->
<script>

    $('input:radio').change(function () {

        var radioButtons = $("input:radio[name='toggle']");
        var selectedIndex = radioButtons.index(radioButtons.find(':checked'));
        var idRadio = $(this).attr('id');
        if (idRadio == 'toggle-on') {
            idTable2 = '#' + 'toggle-off' + 'table';
        }
        else {
            idTable2 = '#' + 'toggle-on' + 'table';
        }
        var idTable = '#' + $(this).attr('id') + 'table';
        if (this.checked) {

            $(idTable).show();
            $(idTable2).hide();
        }
        else {
            $(idTable2).show();
            $(idTable1).hide();
        }
    });
</script>






