@model List<KL.Models.Job>

<style type="text/css">
    .a0 {
        background-color: peachpuff;
    }
    .ko{
        background-color:lightcoral;
    }
    .mot{
        background-color:yellow;
    }
    .hai{
        background-color:aquamarine;
    }
</style>
<link href="~/Assets/dist/css/table.css"  type="text/css" rel="stylesheet"/>
<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>

            <div class="card mb-3">
                <div class="card-header" style="position:center;align-content:center">
                    <i class="fas fa-table"></i>
                    <h1>Cong Viec Dang Lam @Model.Count</h1>
                </div>

                <div class="card-body " id="toggle-ontable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>Ca Nhan Tham Gia</th>
                                    <th>Cong Van Dinh Kem</th>
                                    <th>File Dinh Kem</th>

                                    <th>Thoi Han Hoan Thanh</th>
                                    <th>Thuoc Cong Viec</th>

                                    <th>% Hoan thanh</th>
                                </tr>
                            </thead>
                            @using KL.Models.DatabaseModels;
                            @{
                                var db = new Smof();

                                db.SaveChanges();
                            }
                            <tbody>
                                @foreach (var cv in Model)
                                {
                                    string mau = "ko";
                                    if (cv.Cldl > 5) { mau = "mot"; }
                                    if (cv.Cldl > 15) { mau = "hai"; }
                                <tr class="@cv.ID @("a"+cv.New) @mau">
                                    <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                    <td class="ten">@cv.Ten</td>
                                    <td class="nd">@cv.NoiDungCongViec</td>
                                    <td class="canhan">@cv.canhan</td>
                                    @if (cv.File != "")
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.File)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.File</p></a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (cv.upload != "")
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.upload)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.upload</p></a></td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span>File</span>
                                            <input type="file" class="file" name="file" size="10" />
                                            <input class="uploadbutton" type="button" value="Upload" />
                                        </td>
                                    }
                                    <td class="tgian">@cv.ThoiHanHoanThanh</td>
                                    <td>@cv.IDkhac</td>
                                    @{
                                        var tf = cv.jobcn.Count;
                                        if (cv.jobcn.Count == 0) { tf = 1; }

                                        <td>
                                            @{
                                                var ff = cv.jobcn.Count(m => m.TrangThai == 3 || (m.PhanHoi == 0 && m.NoiDungPhanHoi == "Done"));
                                                var f = ff * 100 / tf;
                                                var t = "progress-bar-success";
                                                if (f <= 60) { t = "progress-bar-warning"; }
                                                if (f <= 40) { t = "progress-bar-info"; }
                                                if (f <= 20) { t = "progress-bar-danger"; }
                                                <div>
                                                    <p>
                                                        <span class="pull-right text-muted">@f %</span>
                                                    </p>
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar @t" role="progressbar" aria-valuenow="@f" aria-valuemin="0" aria-valuemax="100" style="width: @f%">
                                                            <span class="sr-only">@f % </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                        <td></td>
                                    }


                                    <td data-toggle="tooltip" data-placement="top" title="@cv.slrequest request(s)"><span class="button"><button class="btn btn-success" id="add">see/add plan</button><span class="button__badge">@cv.slrequest</span></span> </td>
                                    @if (ff == tf)
                                    {
                                        <td><button class="btn btn-danger report">Report</button></td>
                                    }
                                   
                                </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <style>


            /* Define what each icon button should look like */
            .button {
                display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
                position: relative; /* All 'absolute'ly positioned elements are relative to this one */
                padding: 2px 5px; /* Add some padding so it looks nice */
            }

            /* Make the badge float in the top right corner of the button */
            .button__badge {
                background-color: #fa3e3e;
                border-radius: 2px;
                color: white;
                padding: 1px 3px;
                font-size: 10px;
                position: absolute; /* Position the badge within the relatively positioned button */
                top: 0;
                right: 0;
            }
        </style>
        <!-- /.col-lg-12 -->
        @db.SaveChanges();
        <script>
            $(".uploadbutton").click(function () {
                var idrows = $(this).closest('tr').attr('class').split(' ')[0];
                var ffff = $(".file");
                var fileUpload = $(".file").get(0);
                var files = fileUpload.files[0];
                var fileData = new FormData();
                fileData.append(files.name, files);
                fileData.append('jobId', idrows);
                fileData.append('ma', "2");


                $.ajax({
                    type: "POST",
                    url: "/Job/UploadFile/",
                    enctype: 'multipart/form-data',
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function () {
                        
                    }
                });
            });
            $('.report').click(function () {
                alert("report");
                var idrow = $(this).closest('tr');

                $(idrow).remove();
                $.ajax({
                    url: "/Job/Report?idJob=" + idrow.attr('class').split(' ')[0] + "&ma=2",
                    type: "POST",
                    success: function () {
                        tt = refresh();
                    }
                });
            });
            var myModal = $('#myModal').html();
            var planIndex;


            var t = myModal;
            var modal = document.getElementById('myModal');
            $('button#add').click(function () {

                planIndex = $(this).closest('tr').attr('class').split(' ')[0];
                $.ajax({
                    url: "/Content/Modal?jobId=" + planIndex,
                    type: "POST",
                    success: function (data) {
                        $("#myModal").replaceWith($(data));
                        $("#myModal").show();
                    }
                });
                //$('#myModal').find("tbody").append(tr);

                //alert($('.modal').attr('id'));
            });


            $('.delete').click(function () {
                var t = confirm("Are you sure?");
                var dat = $(this).closest('tr');
                if (t) {
                    $.ajax({
                        url: "/Job/Delete",
                        type: "POST",
                        data: $(dat).attr('id').split(' ')[0],
                        success: function () {
                            $(dat).hide();
                        }
                    });
                }
            });
            
        </script>
    </div>
    <div id="tt"></div>
</div>
<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />
<div id="myModal" class="modal">


</div>

<script>
    
</script>
<!-- Modal content -->
