@model List<KL.Models.Job>
@using KL.Models.DatabaseModels;
@{
    var db = new Smof();
}
<style type="text/css">
    .f0{
        background-color:peachpuff;
    }
</style>
<link href="~/Assets/dist/css/table.css" type="text/css" rel="stylesheet" />
<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header">Công Việc Đang Làm</h1>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Ca Nhan Dang Lam @Model.Count
                    <br />
                    <p>Ban Vua Nhan Them</p>

                </div>

                <div class="card-body " id="toggle-ontable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>Cong Van Dinh Kem</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Han Hoan Thanh</th>
                                    <th>Thuoc Cong Viec</th>
                                    <th>Phan Hoi</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var cv in Model)
                                {
                                <tr class="@cv.ID @("f"+cv.New)">
                                    <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                    <td>@cv.Ten</td>
                                    <td>@cv.NoiDungCongViec</td>
                                    @if (cv.File != "")
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.File)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.File</p></a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (cv.upload != "")
                                    {

                                        <td><a href="@("\\Uploads\\" + cv.upload)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.upload</p></a></td>
                                    }
                                    else if (cv.vitriCv != 4)
                                    {
                                        <td>
                                            <span>File</span>
                                            <input type="file" class="file" name="file" size="10" />
                                            <input class="uploadbutton btn btn-warning" type="button" value="Upload" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@cv.ThoiHanHoanThanh</td>
                                    <td>@cv.IDkhac</td>
                                    @if (cv.vitriCv == 4)
                                    {

                                    }
                                    else if (cv.slPh > 0)
                                    {
                                        <td><button class="pHoi btn btn-success">Phan Hoi</button></td>
                                    }
                                    else
                                    {
                                        <td>Khong co phan hoi</td>
                                    }

                                    @if (cv.vitriCv == 4)
                                    { }
                                    else
                                    {
                                        <td><button class="report btn btn-danger">report</button></td>
                                    }
                                </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        @db.SaveChanges();
    </div>
    <script>
        $(".uploadbutton").click(function () {
            var idrows = $(this).closest('tr').attr('class')[0];
            var fileUpload = $(".file").get(0);
            var files = fileUpload.files[0];
            var fileData = new FormData();
            fileData.append(files.name, files);
            fileData.append('jobId', idrows);
            fileData.append('ma', "1");


            $.ajax({
                type: "POST",
                url: "/Job/UploadFile/",
                enctype: 'multipart/form-data',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function () {
                    alert("Data Uploaded: ");
                }
            });
        });
        $('.report').click(function () {
            alert("report");
            var idrow = $(this).closest('tr');

            $(idrow).remove();
            $.ajax({
                url: "/Job/Report?idJob=" + idrow.attr('class')[0] + "&ma=1",
                type: "POST",
                success: function () {
                }
            });
        });
        $('.pHoi').click(function () {
            var idrow = $(this).closest('tr');
            $.ajax({
                url: "/Job/GetPHoi?idJob=" + idrow.attr('class')[0],
                type: "POST",
                success: function (data) {
                    $("#phoicn").replaceWith($(data));
                    $("#phoicn").show();
                }
            });
        });
    </script>
</div>
<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />
<div id="phoicn" class="modal">


</div>
