@model List<KL.Models.Job>


<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Dang Lam @Model.Count
                </div>

                <div class="card-body " id="toggle-ontable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Han Hoan Thanh</th>
                                    <th>Thuoc Cong Viec</th>
                                    <th>% Hoan thanh</th>
                                </tr>
                            </thead>
                            @using KL.Models.DatabaseModels;
                            @{
                                var db = new Smof();

                                db.SaveChanges();
                            }
                            <tbody>
                                @foreach (var cv in Model)
                                {

                                <tr class="@cv.ID">
                                    <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                    <td>@cv.Ten</td>
                                    <td>@cv.NoiDungCongViec</td>
                                    <td>@cv.File</td>
                                    <td>@cv.ThoiHanHoanThanh</td>
                                    <td>@cv.IDkhac</td>
                                    @{
                                        var t = cv.jobcn.Count;
                                        if (cv.jobcn.Count == 0) { t = 1; }
                                        if (cv.jobcn.Count(m => m.TrangThai == 3) == t)
                                        {
                                            <td>100%</td>
                                            <td><button class="report">Report</button></td>
                                        }
                                        else
                                        {
                                            <td>@(cv.jobcn.Count(m => m.TrangThai == 3)*100 / t)%</td>
                                            <td></td>
                                        }
                                    }

                                    @if (cv.slrequest > 0)
                                    {
                                        <td data-toggle="tooltip" data-placement="top" title="@cv.slrequest"><button style="background-color:aqua;" id="add">see/add plan</button></td>
                                    }
                                    else
                                    {
                                        <td data-toggle="tooltip" data-placement="top" title="@cv.slrequest"><button id="add">see/add plan</button></td>
                                    }

                                </tr>
                                }
                            </tbody>


                        </table>
                    </div>
                </div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>

        <!-- /.col-lg-12 -->
        @db.SaveChanges();
        <script>
            $('.report').click(function () {
                alert("report");
                var idrow = $(this).closest('tr');

                $(idrow).remove();
                $.ajax({
                    url: "/Job/Report?idJob=" + idrow.attr('class')+"&ma=2",
                    type: "POST",
                    success: function () {
                        tt = refresh();
                    }
                });
            });
            var myModal = $('#myModal').html();
            var planIndex;

           
            var t = myModal;
            var modal = document.getElementById('myModal');
            $('button#add').click(function () {

                planIndex = $(this).closest('tr').attr('class');
                $.ajax({
                    url: "/Content/Modal?jobId=" + planIndex,
                    type: "POST",
                    success: function (data) {
                        $("#myModal").replaceWith($(data));
                        $("#myModal").show();
                    }
                });
                //$('#myModal').find("tbody").append(tr);

                //alert($('.modal').attr('id'));
            });



        </script>
    </div>
    <div id="tt"></div>
</div>
<link href="~/Assets/dist/css/Style.css" rel="stylesheet" />
<div id="myModal" class="modal">


</div>
<!-- Modal content -->







