
@model List<KL.Models.Job>
@using KL.Models.DatabaseModels;
@{
    var db = new Smof();

}
<style type="text/css">
    .f0 {
        background-color: peachpuff;
    }
</style>
<link href="~/Assets/dist/css/table.css" type="text/css" rel="stylesheet" />
<div id="page-wrapper">
    <div class="row" id="content">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Ca Nhan Hoan Thanh @Model.Count
                </div>

                <div class="card-body " id="toggle-ontable">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>Cong Van Dinh Kem</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Han Hoan Thanh</th>
                                    <th>Thuoc Cong Viec</th>
                                    <th>Thoi Gian Hoan Thanh</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var cv in Model)
                                {
                                <tr class="@cv.ID @("f"+cv.New)">
                                    <td>@(Model.ToList().IndexOf(cv) + 1)</td>
                                    <td>@cv.Ten</td>
                                    <td>@cv.NoiDungCongViec</td>
                                    @if (cv.File!="" )
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.File)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.File</p></a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (cv.upload!="")
                                    {

                                        <td><a href="@("\\Uploads\\"+cv.upload)" download=""><img width="20" height="20" src="~/Assets/file.png" /><p>@cv.upload</p></a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@cv.ThoiHanHoanThanh</td>
                                    <td>@cv.IDkhac</td>
                                    <td>@cv.ThoiGianHoanThanh</td>

                                </tr>

                                }
                            </tbody>


                        </table>
                    </div>
                </div>

                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        @db.SaveChanges();
    </div>
    <script>


        $('.report').click(function () {
            alert("report");
            var idrow = $(this).closest('tr');

            $(idrow).remove();
            $.ajax({
                url: "/Job/Report?idJob=" + idrow.attr('class')[0],
                type: "POST",
                success: function () {
                }
            });
        });
    </script>
</div>
