@model List<List<int>>
<style>


    /* Define what each icon button should look like */
    .numberCircle {
        width: 20px;
        background-color: #00FF00;
        line-height: 20px;
        border-radius: 30%;
        text-align: center;
        font-size: 15px;
        border: 2px solid #ffd800;
    }

    .button {
        color: white;
        display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
        position: relative; /* All 'absolute'ly positioned elements are relative to this one */
        padding: 2px 5px; /* Add some padding so it looks nice */
    }

    /* Make the badge float in the top right corner of the button */
    .button__badge {
        background-color: #fa3e3e;
        border-radius: 2px;
        color: white;
        padding: 1px 3px;
        font-size: 10px;
        position: absolute; /* Position the badge within the relatively positioned button */
        top: 0;
        right: 0;
    }
</style>
<a href="#"><i class="fa fa-files-o fa-fw"></i> Quản Lý Công Việc <span class="fa arrow"></span></a>
<ul class="nav nav-second-level">
    <li>
        <a href="#" id="newVt">Công Việc Mới <span class="numberCircle">@Model[0][0]</span><span class="button">@Model[0][0] <span class="button__badge">@Model[0][1]</span></span> </a>
    </li>
    <li>
        <a href="#" id="donevt">Công Việc Đã Xong <span class="numberCircle">@Model[3][0]</span> <span class="button">@Model[3][0] <span class="button__badge">@Model[3][1]</span></span> </a>
    </li>

</ul>


@{

    var t = Model[Model.Count - 1][0].ToString();
}
<script>
    $("#newVt").click(function () {
        var tt = refreshvt();
        $.ajax({
            type: "POST",
            url: "/Content/ShowContent?hosoId=@t&ma=4",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
            });

    });
    $("#workVt").click(function () {
        var tt = refreshvt();
        $.ajax({
            type: "POST",
            url: "/Content/ShowWk?hosoId=@t&ma=4",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
            });

        });
    $("#donevt").click(function () {
        var tt = refreshvt();
        $.ajax({
            type: "POST",
            url: "/Content/ShowDone?hosoId=@t&ma=4",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
            });

        });


                            $("#inProVt").click(function () {
                                var tt = refreshvt();
        $.ajax({
            type: "POST",

            url: "/Content/ShowWorking?hosoId=@t&ma=4",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));
            }
        });

        });

</script>

<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/vendor/metisMenu/metisMenu.min.js"></script>
<script src="~/Assets/vendor/raphael/raphael.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.js"></script>
<script src="~/Assets/dist/js/sb-admin-2.js"></script>
<script src="~/Assets/dist/js/taskShow.js"></script>