@model List<List<int>>
<style type="text/css">
    .left01 {
        background-color: deepskyblue;
    }
</style>
<script src="~/Assets/vendor/jquery/jquery.min.js"></script>
<script src="~/Assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Assets/vendor/metisMenu/metisMenu.min.js"></script>
<script src="~/Assets/vendor/raphael/raphael.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.min.js"></script>
<script src="~/Assets/vendor/morrisjs/morris.js"></script>
<script src="~/Assets/dist/js/sb-admin-2.js"></script>
<script src="~/Assets/dist/js/taskShow.js"></script>
<style>
    

    /* Define what each icon button should look like */
    .numberCircle {
        width: 20px;
        background-color: #00FF00;
        line-height: 20px;
        border-radius: 30%;
        text-align: center;
        font-size: 15px;
        border: 2px solid #ffd800;
    }
    .button {
        color: white;
        display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
        position: relative; /* All 'absolute'ly positioned elements are relative to this one */
        padding: 2px 5px; /* Add some padding so it looks nice */
    }

    /* Make the badge float in the top right corner of the button */
    .button__badge {
        background-color: #fa3e3e;
        border-radius: 2px;
        color: white;
        padding: 1px 3px;
        font-size: 10px;
        position: absolute; /* Position the badge within the relatively positioned button */
        top: 0;
        right: 0;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />


<a href="#"><i class="fa fa-files-o fa-fw"></i> Quản Lý Công Việc Cá Nhân<span class="fa arrow"></span></a>
<ul class="nav nav-second-level">
    <li>

        <a href="#" id="newCn" class="@("left"+Model[0][1].ToString())">
            Công Việc Mới <span class="numberCircle">@Model[0][0]</span> <span class="button">@Model[0][0] <span class="button__badge">@Model[0][1]</span></span> 
                
        </a>

    </li>
    <li>
        <a href="#" id="inPro" class="@("left"+Model[1][1].ToString())">Công Việc Đang Làm <span class="numberCircle">@Model[1][0]</span> <span class="button">@Model[1][1] <span class="button__badge">@Model[1][1]</span></span></a>
    </li>
    <li>
        <a href="#" id="request" class="@("left"+Model[2][1].ToString())">Công Việc Cho Request <span class="numberCircle">@Model[2][0]</span> <span class="button">@Model[2][1] <span class="button__badge">@Model[2][1]</span></span></a>
    </li>

    <li>
        <a href="#" id="done" class="@("left"+Model[3][1].ToString())">Công Việc Đã Hoàn Thành <span class="numberCircle">@Model[3][0]</span> <span class="button">@Model[3][1] <span class="button__badge">@Model[3][1]</span></span></a>
    </li>
</ul>
@{

    var t = Model[Model.Count - 1][0].ToString();
}
<script>
                        $("#newCn").click(function () {
                            var tt = refreshPr();
        $.ajax({
            type: "POST",
            url: "/Content/ShowContent?hosoId=@t&ma=1",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));

            }
        });
        });
                        $("#inPro").click(function () {
                            var tt = refreshPr();
                            $.ajax({
                                type: "POST",
                                url: "/Content/ShowWorking?hosoId=@t&ma=1",
                                success: function (data) {
                                    $('#tab').empty();
                                    $('#tab').append($(data));
                                }
                            });

                        });

                        $("#request").click(function () {
                            var tt = refreshPr();
        $.ajax({
            type: "POST",
            url: "/Content/ShowRequest?hosoId=@t&ma=1",
            success: function (data) {
                $('#tab').empty();
                $('#tab').append($(data));
            }
                            });


        });
                        $("#done").click(function () {
                            var tt = refreshPr();
            $.ajax({
                type: "POST",
                url: "/Content/ShowDone?hosoId=@t&ma=1",
                success: function (data) {
                    $('#tab').empty();
                    $('#tab').append($(data));
                }
            });

            });

</script>
