@model List<KL.Models.DatabaseModels.CongViecPhong>
    <style type="text/css">
       input[type="radio"].toggle:checked + label {
  background-image: linear-gradient(to top,#969696,#727272);
  box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),
                    0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: default;
  color: #E6E6E6;
  border-color: transparent;
  text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
}

input[type="radio"].toggle + label {
  width: 3em;
}

input[type="radio"].toggle:checked + label.btn:hover {
  background-color: inherit;
  background-position: 0 0;
  transition: none;
}

input[type="radio"].toggle-left + label {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="radio"].toggle-right + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
    </style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <div class="">
                <input type="radio" id="toggle-on" name="toggle" checked>
                <label for="toggle-on">On</label>
                <input type="radio" id="toggle-off" name="toggle">
                <label for="toggle-off">Off</label>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Cong Viec Moi
                </div>
               
                <div class="card-body hidden toggle-on" id="0">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Gian Hoan Thanh</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Model.IndexOf(item)</td>
                                        <td>@item.NoiDungChitiet</td>
                                        <td>@item.NoiDungChitiet</td>
                                        <td>@DateTime.Now</td>
                                        <td>2011/04/25</td>
                                        <td><button id="add">add</button></td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
                <div class="card-body toggle-off hidden" id="1">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Stt</th>
                                    <th>Ten Cong Viec</th>
                                    <th>Noi Dung Tom Tat</th>
                                    <th>File Dinh Kem</th>
                                    <th>Thoi Gian Hoan Thanh</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@Model.IndexOf(item)</td>
                                        <td>@item.NoiDungChitiet</td>
                                        <td>@item.NoiDungChitiet</td>
                                        <td>@DateTime.Now</td>
                                        <td>2011/04/25</td>
                                        <td><button id="add">add</button></td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<style type="text/css">
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>

<script>

    $('input:radio').change(function () {
        
        
        var radio = $('input:radio').each(function () {
            var clas = "." + $(this).attr('id');
            if (this.checked) $(clas).removeClass('hidden');
            else $(clas).addClass('hidden');
        });
    });
    $('.tuan').click(function () {
        $(this).addClass('hidden');
    });
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>